<div id="modalOverlay"></div>




<div class = "modal" id="successModal">

	<div class = "modalTitle yellow">

			<h1>Success</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>

	<div>
		<h2 class = "successTitle"></h2>
		
	</div>	   

</div>

<div class = "modal" id="errorModal">

	<div class = "modalTitle yellow">

			<h1>Error</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>

	<div>
		<h2 class = "errorTitle"></h2>
		<div class = "subContent">
			<p id="errorInfo"></p>
		</div>
	</div>	   

</div>







